
<%- include('../partials/head') %>  
<link rel="stylesheet" href="/css/products.css" />

</head>


<%- include('../partials/navigation') %>  
    <main>
    <h1><%=pageTitle %></h1>
    </main>
<%- include('../partials/footer') %>  


