<% if(isAuthenticated) { %>

<form action="/cart" method="post">
  <input type="hidden" name="CSRFToken" value="<%= CSRFToken%>" />

  <button type="submit" class="card-button">
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
  <input type="hidden" name="productId" value="<%= product._id %>" />
</form>
<% } %>
