* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
}
.fluid-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e1919;
  font-weight: 700;
}
main {
  text-align: center;
}
nav {
  background-color: #116c7e;
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 5%;
  width: 100%;
}
.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
  color: #c2e3e5;
  font-size: 2rem;
  font-weight: 900;
}
.nav-item {
  padding: 0 20px;
}
a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}
.products-container {
  background-color: #aebec2;

  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 3% 10%;
  justify-content: space-around;
  margin-bottom: 5%;
}
.nav-item a {
  color: #c2e3e5;
}
.nav-item a:hover,
.nav-item a.active {
  color: #299f84;
}
footer {
  background-color: #116c7e;
  padding: 2% 10%;
  margin-top: 2rem;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 0.9rem;
  color: #fefe;
}

/* footer .text-muted{
  color: #3a3737;
  width: 30%;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 300;
} */
@media screen and(max-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-item {
    padding: 10px 0;
  }
  .nav-logo {
    font-size: 1.5rem;
  }
  .nav-item a {
    font-size: 0.8rem;
  }
  .products-container {
    padding: 3% 5%;
  }
  footer {
    padding: 2% 5%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  footer p {
    font-size: 0.8rem;
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.3rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(rgb(255, 255, 255), 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 1rem rgba(black, 0.2);
}
.btn-white {
  background-color: rgb(58, 29, 56);
}
.message {
  padding: 1rem 2rem;
  width: 30%;
  margin: 0 auto;
  border-radius: 1rem;
}
.message--error {
  background-color: #9f5151;
  border: 1px solid #ff5959;
  color: #7c0000;
}
.invalid {
  border: 1px solid #7c0000;
}
