<%- include('../partials/head') %> 
<link rel="stylesheet" href="/css/card.css" />

</head>
<%- include('../partials/navigation') %>

<main>
  <h2><%= pageTitle%></h2>

</main>
<%- include('../partials/footer') %>
